:root {
  --main-background-color: #d9d9d9;
}

@font-face {
  font-family: "Aqala";
  src: url("../public/fonts/Aqala Display Free.ttf");
}

@font-face {
  font-family: "Kawingan";
  src: url("../public/fonts/Kawingan-DEMO.otf");
}
@font-face {
  font-family: "Atreyu";
  src: url("../public/fonts/Atreyu.otf");
}
@font-face {
  font-family: "Comforta";
  src: url("../public/fonts/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Zurich";
  src: url("../public/fonts/Zurich Ultra Black Extended Regular.otf");
}
@font-face {
  font-family: "Mazius";
  src: url("../public/fonts/MaziusDisplay-Regular.otf");
}
@font-face {
  font-family: "Futura";
  src: url("../public/fonts/FuturaPTMedium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../public/fonts/FuturaPTLight.otf") format("truetype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../public/fonts/FuturaPTHeavy.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FuturaCondensed";
  src: url("../public/fonts/FuturaPTCondBook.otf") format("truetype");
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  /* background: url("../public/img/white-texture.png") 10%;
  background-repeat: repeat;
  background-size: contain; */
  background: url(https://grainy-gradients.vercel.app/noise.svg);
  background-size: fixed;
}
.underline {
  position: relative;
  text-decoration: underline 1px;
}
.bold {
  position: relative;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}

/* Header */

.header {
  filter: blur(0.5px);
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 160px);
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* background: url("../public/img/flag.png");
  background-size: 10%;
  background-position-x: 93.5%;
  background-position-y: 50px;
  background-repeat: no-repeat; */
  background: url(https://grainy-gradients.vercel.app/noise.svg);
  background-size: fixed;
  background-color: white;
  z-index: 2;
}

.header_title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 3;
}

.header h1 {
  cursor: pointer;
  background: url("../public/img/black-texture.png");
  background-size: cover;
  font-family: "Zurich";
  font-size: 30px;
  margin-bottom: 15px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.header h2 {
  line-height: 24px;
  font-size: 20px;
  font-family: "Comforta";
  background: url("../public/img/red-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header menu a {
  z-index: 3;
  text-transform: uppercase;

  font-size: 14px;
  font-family: "Comforta";

  margin-left: 10px;
  text-decoration: none;
  padding: 5px;
  background: url("../public/img/black-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

/* .header menu a:hover {
  background-color: black;
  color: white;
} */

/* Home */

.home {
  /* filter: blur(0.5px); */
  max-width: 1440px;
  padding: 0px 80px;
  padding-top: 260px;
}

.home .overview h2 {
  position: relative;
  font-family: "Comforta";
  font-size: 30px;
  text-transform: uppercase;
  font-weight: light;
  background: url("../public/img/black-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0.6;
  width: fit-content;
  filter: blur(0.5px);
}

/* .home .overview h2::after {
  position: absolute;
  top: 50%;
  left: calc(-100% + -30px);
  content: " ";
  width: 100%;
  height: 2px;
  background-color: black;
} */

.home .overview p {
  background: url("../public/img/black-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  /* text-transform: uppercase; */
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: light;
  line-height: 28px;
  text-underline-offset: 4px;
  opacity: 0.6;
}

.home .overview li {
  background: url("../public/img/black-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  /* text-transform: uppercase; */
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: light;
  line-height: 28px;
  text-underline-offset: 4px;
  opacity: 0.6;
  list-style-type: disc;
  list-style-position: inside;
}

.home > div {
  display: flex;

  margin: 0 auto;
  width: 70%;
  margin-bottom: 100px;
}

.home_menu {
  padding-top: 54px;
  margin-right: 20px;
  min-width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home_menu button {
  overflow: hidden;
  filter: blur(0.5px);
  font-size: 18px;
  border: none;
  text-decoration: none;
  background: none;
  font-family: "Comforta";
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 10px;
  opacity: 0.2;
  white-space: pre;
  cursor: pointer;
}
.home_menu button:hover {
  opacity: 0.6;
}
.clicked {
  opacity: 0.6 !important;
}
.smaller {
  font-size: 12px !important;
}

/* Template */

.template {
  filter: blur(0.5px);
  max-width: 1440px;
  padding: 0px 80px;
  padding-top: 260px;
  padding-bottom: 260px;
  width: 50vw;
  margin: 0 auto;
}

.template_email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.template_email h2 {
  position: relative;
  font-family: "Comforta";
  font-size: 30px;
  text-transform: uppercase;
  font-weight: light;
  background: url("../public/img/black-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0.6;
  width: fit-content;
}

.template_email p {
  margin-top: 50px;
  /* padding: 100px 80px; */
  /* border: dashed black 1px; */
  background: url("../public/img/black-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  /* text-transform: uppercase; */
  margin-top: 60px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: light;
  line-height: 20px;
  text-underline-offset: 4px;
  opacity: 0.6;
}

.copypaste {
  position: absolute;
  top: 2px;
  right: 0;
  width: fit-content;
  border: solid black 1px;
  cursor: pointer;
}

.copypaste:hover {
  position: absolute;
  top: 5px;
  right: 0;
  width: fit-content;
  border: solid black 1px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.133);
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100vw;
    padding: 25px 15px;
  }
  .header h1 {
    font-size: 22px;
    margin-bottom: 7px;
  }
  .header h2 {
    font-size: 16px;
    white-space: pre;
  }
  .header menu {
    display: none;
  }
  .home {
    padding: 0 15px;
    padding-top: 180px;
  }
  .home > div {
    flex-direction: row-reverse;
    justify-content: left;
    width: 100%;
  }
  .home_menu {
    display: none;
    flex-direction: row;
    margin-right: 10px;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: url(https://grainy-gradients.vercel.app/noise.svg);
    background-size: fixed;
    background-color: rgba(255, 255, 255, 0.886);
    z-index: 3;
    padding: 20px 0px 20px 10px;
  }

  .home .overview {
    padding: 0 10px;
  }
  .home_menu button {
    font-size: 14px;
  }
  .home .overview p {
    font-size: 14px;
    line-height: 20px;
    width: 80vw;
  }
  .home .overview li {
    font-size: 14px;
    line-height: 20px;
  }
}
