:root {
  --main-background-color: #d9d9d9;
  --main-white: #f7faf2;
  --main-black: #000000;
  --main--red: #ad0718;
  --main--green: #3ca832;
}

.green {
  color: var(--main--green);
}
.red {
  color: var(--main--red);
}
.black {
  color: var(--main--black);
}
.white {
  color: var(--main--white);
}

.title {
  font-family: "Title";
}
.heading {
  font-family: "Heading";
}

@font-face {
  font-family: "Aqala";
  src: url("../public/fonts/Aqala Display Free.ttf");
}

@font-face {
  font-family: "Kawingan";
  src: url("../public/fonts/Kawingan-DEMO.otf");
}
@font-face {
  font-family: "Atreyu";
  src: url("../public/fonts/Atreyu.otf");
}
@font-face {
  font-family: "Comforta";
  src: url("../public/fonts/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Zurich";
  src: url("../public/fonts/Zurich Ultra Black Extended Regular.otf");
}
@font-face {
  font-family: "Mazius";
  src: url("../public/fonts/MaziusDisplay-Regular.otf");
}
@font-face {
  font-family: "Futura";
  src: url("../public/fonts/FuturaPTMedium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../public/fonts/FuturaPTLight.otf") format("truetype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../public/fonts/FuturaPTHeavy.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FuturaCondensed";
  src: url("../public/fonts/FuturaPTCondBook.otf") format("truetype");
}

@font-face {
  font-family: "Title";
  src: url("../public/fonts/ABCFavoritCompressed-Black-Trial.otf")
    format("truetype");
}

@font-face {
  font-family: "Heading";
  src: url("../public/fonts/ABCFavoritVariable-Trial.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Body";
  src: url("../public/fonts/ABCFavoritVariable-Trial.ttf") format("truetype");
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  /* background: url("../public/img/white-texture.png") 10%;
  background-repeat: repeat;
  background-size: contain; */
  /* background: url(https://grainy-gradients.vercel.app/noise.svg); */

  background: url("../public/img/PAA_Edited.jpg");
  background-size: 111vw;
  background-color: var(--main-black);
  background-position: top center;
  background-repeat: repeat;

  /* background: url("../public/img/Texturelabs_Paper_340XL.jpg");
  background-size: cover; */
}
.underline {
  position: relative;
  text-decoration: underline 1px;
}
.bold {
  position: relative;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: var(--main-white);
}
.white-background {
  background-color: var(--main-white);
  background-clip: border-box;
}

/* Header */

.header {
  /* filter: blur(0.5px); */
  /* position: fixed; */
  top: 0;
  left: 0;
  width: calc(100% - 200px);
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background: url("../public/img/PAA_Edited.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  /* background: url(https://grainy-gradients.vercel.app/noise.svg); */
  /* background-size: fixed;
  background-color: white; */
  z-index: 2;
}

.header_title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 3;
}

.header h1 {
  cursor: pointer;
  background: url("../public/img/black-texture.png");
  background-size: cover;
  font-family: "Zurich";
  font-size: 30px;
  margin-bottom: 15px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.header h2 {
  line-height: 24px;
  font-size: 20px;
  font-family: "Comforta";
  color: var(--main-white);
  /* background: url("../public/img/red-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
}

.header menu {
  padding-top: 18px;
}

.header menu a {
  z-index: 3;
  text-transform: uppercase;
  color: var(--main-white);
  font-size: 20px;
  font-family: "Heading";

  margin-left: 10px;
  text-decoration: none;
  padding: 15px;
  /* background: url("../public/img/7.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
  cursor: pointer;
}

.header menu a:hover {
  color: var(--main--red);
}

.header_logo {
  position: relative;
  width: 100px;
  height: 100px;
}

/* Home */

.home {
  /* filter: blur(0.5px); */
  max-width: 1440px;
  padding: 0px 30px;
  padding-top: 0px;
  margin: 0 auto;
}

.home .overview {
  padding: 0px 60px;
  background: url("../public/img/Texturelabs_Paper_340XL.jpg");
  background-size: contain;

  padding-bottom: 60px;
}

.home .overview h2 {
  margin-top: 40px;
  position: relative;
  font-family: "Heading";
  font-size: 30px;
  text-transform: uppercase;
  font-weight: light;
  /* background: url("../public/img/black-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0.6; */
  width: fit-content;
  /* filter: blur(0.5px); */
  color: var(--main-white);
}

/* .home .overview h2::after {
  position: absolute;
  top: 50%;
  left: calc(-100% + -30px);
  content: " ";
  width: 100%;
  height: 2px;
  background-color: black;
} */

.home .overview p {
  /* background: url("../public/img/black-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text; */
  /* text-transform: uppercase; */
  margin-top: 20px;
  font-family: "Body";
  font-size: 20px;
  font-weight: light;
  line-height: 24px;
  text-underline-offset: 4px;
  /* opacity: 0.6; */
  /* filter: blur(0.3px); */
  color: var(--main-white);
  /* background-color: var(--main-white); */
  /* padding: 15px 15px; */
}

.home .overview_menu {
  /* background-color: var(--main-white); */
  /* padding: 15px 15px; */
  margin-top: 20px;
  width: fit-content;
}

.home .overview_menu li {
  /* background: url("../public/img/black-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text; */
  /* text-transform: uppercase; */
  color: var(--main-white);
  font-family: "Body";
  font-size: 20px;
  font-weight: light;
  line-height: 28px;
  text-underline-offset: 4px;
  text-decoration: underline;
  list-style-type: none;
  list-style-position: inside;
  cursor: pointer;
}

.home > div {
  display: flex;

  margin: 0 auto;
  width: 89.5%;
  margin-bottom: 100px;
}

.home_menu {
  padding-top: 54px;
  margin-right: 20px;
  min-width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home_menu button {
  overflow: hidden;
  filter: blur(0.5px);
  font-size: 18px;
  border: none;
  text-decoration: none;
  background: none;
  font-family: "Comforta";
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 10px;
  opacity: 0.2;
  white-space: pre;
  cursor: pointer;
}
.home_menu button:hover {
  opacity: 0.6;
}
.clicked {
  opacity: 0.6 !important;
}
.smaller {
  font-size: 12px !important;
}

.impact_list {
  margin-top: 20px;
  color: var(--main-white);
  font-family: "Body";
  font-size: 18px;
  font-weight: light;
  line-height: 28px;
  text-underline-offset: 4px;
  width: 100%;
  list-style-type: disc;
  list-style-position: outside;
}
.impact_list li {
  margin-top: 20px;
  margin-left: 20px;
  list-style-position: outside;
}
.impact_list a {
  margin-top: 20px;
  color: var(--main-white);
  font-family: "Heading";
  font-size: 20px;
  font-weight: light;
  line-height: 28px;
  text-underline-offset: 4px;
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
}

.italic {
  font-style: italic;
}

/* Template */

.template {
  max-width: 1440px;
  padding: 0px 80px;
  padding-top: 260px;
  padding-bottom: 260px;
  width: 50vw;
  margin: 0 auto;
}

.template_email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.template_email h2 {
  filter: blur(0.5px);
  position: relative;
  font-family: "Comforta";
  font-size: 30px;
  text-transform: uppercase;
  font-weight: light;
  background: url("../public/img/black-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0.6;
  width: fit-content;
}

.template_email p {
  margin-top: 50px;
  /* padding: 100px 80px; */
  /* border: dashed black 1px; */
  background: url("../public/img/black-texture.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  /* text-transform: uppercase; */
  margin-top: 60px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: light;
  line-height: 20px;
  text-underline-offset: 4px;
  opacity: 0.6;
  filter: blur(0.3px);
}

.copypaste {
  position: absolute;
  top: 2px;
  right: 0;
  width: fit-content;
  border: solid black 1px;
  cursor: pointer;
}

.copypaste:hover {
  position: absolute;
  top: 5px;
  right: 0;
  width: fit-content;
  border: solid black 1px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.133);
}

/* PLEDGE */

.pledge {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0px 30px;
  width: 90%;
  margin-bottom: 100px;
}

.pledge p {
  background: url("../public/img/Texturelabs_Paper_340XL.jpg");
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Body";
  font-size: 20px;
  font-weight: light;
  line-height: 24px;
  text-underline-offset: 4px;
  width: 70%;
  color: var(--main-white);
  padding: 55px 45px;
  text-align: start;
}

.pledge a {
  margin-top: 20px;
  color: var(--main-white);
  font-family: "Heading";
  font-size: 20px;
  font-weight: light;
  line-height: 28px;
  text-underline-offset: 4px;
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
}

/* RESOURCES */

.resources {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0px 30px;
  width: 90%;
  margin-bottom: 100px;
}

.resources > div {
  background: url("../public/img/Texturelabs_Paper_340XL.jpg");
  background-size: cover;
  width: 70%;
  padding: 55px 45px;
  margin: 0 auto;
}

.resources p {
  text-align: center;
  margin: 0 auto;

  font-family: "Body";
  font-size: 20px;
  font-weight: light;
  line-height: 24px;
  text-underline-offset: 4px;
  width: 100%;
  color: var(--main-white);
  margin-bottom: 40px;
  text-align: start;
}
.resources h3 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Heading";
  font-size: 28px;
  font-weight: light;
  line-height: 24px;
  text-underline-offset: 4px;
  width: 100%;
  color: var(--main-white);

  text-align: start;
}

.resources a {
  margin-top: 20px;
  color: var(--main-white);
  font-family: "Heading";
  font-size: 20px;
  font-weight: light;
  line-height: 28px;
  text-underline-offset: 4px;
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;

    padding: 10px 12px 0px 12px;
  }

  .header_logo {
    width: 80px;
    height: 80px;
  }
  .header h1 {
    font-size: 22px;
    margin-bottom: 7px;
  }
  .header h2 {
    font-size: 16px;
    white-space: pre;
    padding: 0px;
  }

  .header menu a {
    font-size: 16px;
    margin-left: 0px;
    padding: 9px;
  }
  /* .header menu {
    display: none;
  } */
  .home {
    padding: 0px 15px;
    padding-top: 10px;
  }
  .home > div {
    justify-content: center;
    margin: 0 auto;
    width: 98.3vw;
  }
  .home_menu {
    display: none;
    flex-direction: row;
    margin-right: 10px;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: url(https://grainy-gradients.vercel.app/noise.svg);
    background-size: fixed;
    background-color: rgba(255, 255, 255, 0.886);
    z-index: 3;
    padding: 20px 0px 20px 10px;
  }

  .home .overview {
    padding: 0px 20px;
    padding-bottom: 40px;
  }
  .home_menu button {
    font-size: 14px;
  }
  .home .overview p {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
  .home .overview h2 {
    margin-top: 20px;
    font-size: 26px;
  }
  .home .overview a {
    font-size: 16px;
  }
  .home .overview li {
    font-size: 16px;
    line-height: 20px;
  }
  .pledge {
    margin: 0 auto;
    padding: 0px 15px;
    padding-bottom: 60px;
  }
  .pledge p {
    background: url("../public/img/Texturelabs_Paper_340XL.jpg");
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-family: "Body";
    font-size: 16px;
    font-weight: light;
    line-height: 24px;
    text-underline-offset: 4px;
    width: 96.5%;
    color: var(--main-white);
    padding: 20px 20px;
    text-align: start;
  }

  .pledge a {
    margin-top: 20px;
    color: var(--main-white);
    font-family: "Heading";
    font-size: 16px;
    font-weight: light;
    line-height: 28px;
    text-underline-offset: 4px;
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
  }
  .resources {
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px 15px;
    padding-bottom: 60px;
    padding-top: 10px;
  }

  .resources > div {
    background: url("../public/img/Texturelabs_Paper_340XL.jpg");
    background-size: cover;
    width: 96.5%;
    padding: 20px 20px;
    margin: 0 auto;
  }

  .resources p {
    text-align: center;
    margin: 0 auto;

    font-family: "Body";
    font-size: 16px;
    font-weight: light;
    line-height: 24px;
    text-underline-offset: 4px;

    color: var(--main-white);
    margin-bottom: 40px;
    text-align: start;
  }
  .resources h3 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: "Heading";
    font-size: 26px;
    font-weight: light;
    line-height: 24px;
    text-underline-offset: 4px;
    width: 100%;
    color: var(--main-white);

    text-align: start;
  }

  .resources a {
    margin-top: 20px;
    color: var(--main-white);
    font-family: "Heading";
    font-size: 16px;
    font-weight: light;
    line-height: 28px;
    text-underline-offset: 4px;
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
  }
}
